<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>964769064460-71egr2da3rfv60kp60355svf1rdiki38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964769064460-71egr2da3rfv60kp60355svf1rdiki38</string>
	<key>API_KEY</key>
	<string>AIzaSyDl0WUc3eht1oWHpCAhiTIY3o0WNwVg9Z8</string>
	<key>GCM_SENDER_ID</key>
	<string>964769064460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skumancer.irecycle</string>
	<key>PROJECT_ID</key>
	<string>irecycle-4abfb</string>
	<key>STORAGE_BUCKET</key>
	<string>irecycle-4abfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:964769064460:ios:bdf8d6e4c8959280</string>
	<key>DATABASE_URL</key>
	<string>https://irecycle-4abfb.firebaseio.com</string>
</dict>
</plist>